.posts {
    width: 100%;
    margin-top: 95px;
}

.posts__container {
    position: relative;
}

.carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.carousel-header h2 {
    font-weight: 700;
    font-size: 48px;
    color: #F8FAFC;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel-header a {
    font-weight: 700;
    font-size: 20px;
    color: #F8FAFC;
}

.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 33.33%;
    color: inherit;
    padding: 10px;
}

.card-inner {
    background-color: #2a3b5a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #F8FAFC;
}

.card-content p {
    color: #f8fafc;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.card-content p:first-child {
    font-size: 14px;
    padding-bottom: 9px;
}

.card-content p:last-child {
    margin-top: 9px;
    font-size: 12px;
}

.nav-arrow {
    background-color: #00c6ff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-arrow:hover {
    background-color: #0072ff;
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 50%;
    }

    .nav-arrow {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .carousel-header h2 {
        font-weight: 700;
        font-size: 24px;
    }

    .header-controls a {
        font-size: 18px;
    }

    .card {
        flex: 0 0 100%;
    }

    .nav-arrow {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}